.container {
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    text-align: center;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.list {
    width: 30%;
}

.list ul {
    list-style: none;
    margin-top: 0;
}

.widgets {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.widget {
    text-align: center;
}




