.container {
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    text-align: center;
}

.content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.list {
    width: 20%;
}

.list button {
    margin-top: 10px;
}

.widgets {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
}

.admin-panel {
    margin: 15px auto;
    text-align: center;
}

.buttons button {
    margin: 10px 15px;
}

.widget {
    text-align: center;
}




